/* ====================== /Button ======================*/

.primary-button {
    -fx-background-color: #2C6DD2;
    -fx-text-fill: #FFF;
    -fx-effect: dropshadow(three-pass-box, #8e8e8e, 20, 0.1, 1, 1);
}

.primary-button:hover:pressed {
    -fx-background-color: #7986CB;
}

.primary-button:hover {
    -fx-background-color: #3F51B5;
}

.default-button {
    -fx-background-color: #9B9B9B;
    -fx-text-fill: #FFF;
    -fx-effect: dropshadow(three-pass-box, #E0E0E0, 20, 0.1, 1, 1);
}

.default-button:hover:pressed {
    -fx-background-color: #858383;
}

.default-button:hover {
    -fx-background-color: #686060;
}

.danger-button {
    -fx-background-color: #F50057;
    -fx-text-fill: #FFF;
    -fx-effect: dropshadow(three-pass-box, #E0E0E0, 20, 0.1, 1, 1);
}

.danger-button:hover:pressed {
    -fx-background-color: #FF4081;
}

.danger-button:hover {
    -fx-background-color: #C51162;
}

.circle-button {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-border-radius: 30;
    -fx-text-fill: #000;
    -fx-effect: dropshadow(three-pass-box, #E0E0E0, 20, 0.1, 1, 1);
}

.primary-circle-button {
    -fx-background-color: #2C6DD2;
    -fx-background-radius: 30;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-border-radius: 30;
    -fx-text-fill: #FFF;
    -fx-effect: dropshadow(three-pass-box, #E0E0E0, 20, 0.1, 1, 1);
}

.primary-circle-button:hover:pressed {
    -fx-background-color: #7986CB;
}

.primary-circle-button:hover {
    -fx-background-color: #3F51B5;
}

.danger-circle-button {
    -fx-background-color: #F50057;
    -fx-background-radius: 30;
    -fx-border-color: #F50057;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-border-radius: 30;
    -fx-text-fill: #FFF;
    -fx-effect: dropshadow(three-pass-box, #E0E0E0, 20, 0.1, 1, 1);
}

.danger-circle-button:hover {
    -fx-background-color: #C51162;
}

.danger-circle-button:hover:pressed {
    -fx-background-color: #FF4081;
}

/* ====================== /image Button ======================*/

.arrow-up-button {
    -fx-background-image: url("img/arrowUp.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20;
}

.remove-button {
    -fx-background-image: url("img/remove.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 28;
}

.remove-button:hover {
    -fx-background-image: url("img/remove-hover.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 28;
}

.refresh-button {
    -fx-background-color: transparent;
    -fx-background-image: url("img/refresh.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20;
}

.refresh-button:hover {
    -fx-background-image: url("img/refresh-hover.png");
}

/* ====================== Button/ ======================*/

.lineLabel {
    -fx-border-color: transparent transparent #3F51B5 transparent;
    -fx-min-width: 30px;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-padding: 1;
    -fx-text-fill: #3F51B5;
}

.infoLabel {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-min-width: 30px;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-padding: 1;
    -fx-text-fill: #3F51B5;
}

.line-textField {
    -fx-border-color: transparent transparent #3F51B5 transparent;
    -fx-min-width: 30px;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-padding: 1;
    -fx-text-fill: #000;
}

/* ====================== background color ======================*/

.primary-background {
    -fx-background-color: #2C6DD2;
}


/*   ==================================  Checkbox ==================================*/

.primary:selected .box .mark {
    -fx-background-color: #2C6DD2;
}

.primary .box {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-border-color: #2C6DD2;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-border-radius: 30;
}

.primary:hover .box {
    -fx-border-color: #3F51B5;
}


.warn .box {
    -fx-background-color: #FFF;
    -fx-background-radius: 30;
    -fx-border-color: #FBBD34;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-border-radius: 30;
}

.warn:hover .box {
    -fx-border-color: #000;
}

.warn:selected .box .mark {
    -fx-background-color: #FBBD34;
}

.warn:selected:hover .box {
    -fx-background-color: #FBBD34;
    -fx-border-color: #FFF;
}

.warn:selected:hover .box .mark {
    -fx-background-color: #FFF;
}

/*   ==================================  List view ==================================*/
.list-view {
    /*-fx-base: #1d1d1d;*/
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-table-cell-border-size: 3px;
    -fx-table-header-border-color: transparent;
    -fx-table-header-border-size: 5px;
    -fx-padding: 3;
    -fx-selection-bar: transparent;
    -fx-selection-bar-non-focused: transparent;
}

.list-cell {
    -fx-background-radius: 2;
    -fx-cell-size: 36;
    -fx-font-size: 14;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused {
    -fx-background-color: #2C6DD2;
    -fx-text-fill: #FFF;
    -fx-border-color: #FFF;
    -fx-border-radius: 10;
    -fx-background-radius: 10;

}

/*.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:hover {*/
/*    -fx-background-color: #303F9F;*/
/*    -fx-text-fill: #FFF;*/
/*}*/

/*.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:hover:pressed {*/
/*    -fx-background-color: #7986CB;*/
/*    -fx-text-fill: #FFF;*/
/*}*/

.list-view .list-cell:filled:selected {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #000;
}

/*   ==================================  Tree view ==================================*/
.tree-view {
    -fx-background-color: transparent;
    -fx-text-fill: #000;
}

.tree-view:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.tree-view:disabled {
    -fx-background-color: transparent;
}

.tree-cell {
    -fx-text-fill: #000;
}

.tree-view:focused .tree-cell:selected {
    -fx-background-color: #2C6DD2;
    -fx-text-fill: #FFF;
}

.tree-cell:filled:selected {
    -fx-background-color: #E0E0E0;
}

/*   ==================================  split pane ==================================*/

.split-pane-divider {
    -fx-padding: 0 2 0 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-bar {
    -fx-background-color: #FFF;
    -fx-pref-width: 4;
    -fx-min-width: 4;
    -fx-max-width: 4;
    -fx-min-hight: 2px;
    -fx-pref-hight: 2px;
    -fx-max-hight: 2px;
    -fx-block-increment: 1;
}

.scroll-bar:vertical {
    -fx-pref-width: 7;
    -fx-padding: 1;
}

.scroll-bar:horizontal {
    -fx-pref-height: 7;
    -fx-padding: 1;
}

.scroll-bar .track {
    -fx-background-color: transparent;
    visibility: false;
}

*.scroll-bar > *.track-background {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    visibility: false;
}

*.scroll-bar > *.thumb {
    -fx-background-color: #DDD;
    -fx-background-insets: 0;
    -fx-min-width: 3;
    -fx-pref-width: 3;
    -fx-max-width: 3;
    -fx-min-hight: 2px;
    -fx-pref-hight: 2px;
    -fx-max-hight: 2px;
    -fx-padding: 0;
}

*.virtual-flow > *.corner {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    visibility: false;
    -fx-max-width: 5;
    -fx-max-height: 5;
}

.scroll-bar > *.increment-button,
.scroll-bar > *.increment-button > *.increment-arrow {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    visibility: false;
    -fx-max-width: 5;
    -fx-max-height: 5;
}

.scroll-bar > *.decrement-button,
.scroll-bar > *.decrement-button > *.decrement-arrow {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    visibility: false;
}

/* ========================== custom  =================================*/
.whiteCard {
    -fx-background-color: #fff;
    -fx-border-color: #fff;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    /*-fx-effect: dropshadow(gaussian, #8e8e8e, 10, 0.2, 2, 2);*/
}

.vTextArea {
    -fx-border-color: #fff, #fff;
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-border-width: 0, 0, 2, 0;
    /*-fx-effect: dropshadow(three-pass-box, #8e8e8e, 10, 0.3, 2.2, 2.2);*/
}

.vTextArea .content {
    -fx-background-color: #fff;
}

.vTextArea:focused .content {
    -fx-background-color: #fff;
}

.vTextField {
    -fx-border-color: #3F51B5;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
    -fx-font-size: 14;
}

.vTextField:focused {
    -fx-border-color: #7986CB;
    -fx-font-size: 16;
}

.vDialog {
    -fx-background-color: #fff;
    -fx-border-color: #ddd;
    -fx-effect: dropshadow(gaussian, black, 10, 2, 3, 3);
}

.default-pane {
    -fx-background-color: #F4F8FB;
}

.left-pane {
    -fx-border-color: #F4F8FB, #F4F8FB;
    -fx-border-width: 0 5 0 0;
    -fx-effect: dropshadow(three-pass-box, #E7EAEE, 10, 0.3, 2.5, 2.2);
}

.mid-pane {

}

.right-pane {
    -fx-border-color: #FFF;
    -fx-border-width: 1;
}

.right-pane .path {
    -fx-background-color: #E8EFF3;
    /*-fx-background-color: #000;*/
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-padding: 2 2 2 2;
    -fx-text-alignment: center;
    -fx-content-display: center;
    -fx-alignment: center;
    -fx-text-fill: #3F51B5;

}


.prettyZoo {
    -fx-background-color: #FFF;
    -fx-text-fill: #3F51B5;
    -fx-font-size: 14;
    -fx-border-color: #E0E0E0;
    -fx-border-width: 0 0 1 0;
}

.prettyZoo-recursive {
    -fx-background-color: #FBBD34;
    -fx-text-fill: #FFF;
    -fx-font-size: 14;
    -fx-effect: dropshadow(three-pass-box, #FFF, 1, 0.5, 1, 1);
}