.dialog {
    -fx-background-color: #FFF;
}

.confirm-button {
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}

.cancel-button {
    -fx-text-fill: #000;
}


.dialog-content {
    -fx-border-color: #FFF;
    -fx-background-insets: 0;
    -fx-background-color: #FFF;
    -fx-border-width: 0;
    -fx-padding: 5, 10, 5, 10;
}

.dialog-content .content {
    -fx-background-color: #FFF;
}

.dialog-content:focused .content {
    -fx-background-color: #FFF;
}

.dialog-title {
    -fx-text-alignment: center;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-background-color: #FFF;
    -fx-border-color: #FFFFFF;
}