.list-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: white;
    -fx-background-color: #FFF;
    -fx-table-cell-border-color: white;
    -fx-table-cell-border-size: 0;
    -fx-table-header-border-color: white;
    -fx-table-header-border-size: 0;
    -fx-padding: 10 10 0 10;
    -fx-border-color: transparent;
    -fx-selection-bar: transparent;
    -fx-selection-bar-non-focused: transparent;
    -fx-fill: #000;
    -fx-text-fill: #000;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 6 10 6 10;
    -fx-cell-size: 80;
    -fx-text-fill: #000;
    -fx-fill: #000;
    -fx-border-width: 0;
    -fx-alignment: center;
}


.server-item-select {
    -fx-background-color: #000;
    -fx-opacity: 0.8;
    -fx-border-color: #DDD;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-fill: #FFF;
    -fx-text-fill: #FFF;
}

.server-item {
    -fx-background-color: #FFF;
    -fx-border-color: #DDD;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-text-fill: #000;
    -fx-fill: #000;
}

.server-item:hover {
    -fx-effect: dropshadow(three-pass-box, #dcdcdc, 8, 0.3, 1.8, 1.8);
}

.server-progress-indicator {
    -fx-progress-color: #000
}

.server-select-progress-indicator {
    -fx-progress-color: #FFF
}