/* ====================== /image Button ======================*/
.disconnect-button:hover {
    -fx-background-image: url("img/shut-down-hover.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-border-radius: 22;
    -fx-background-size: 18;
    -fx-pref-height: 22;
    -fx-pref-width: 22;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.disconnect-button {
    -fx-background-color: transparent;
    -fx-background-image: url("img/shut-down.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-border-radius: 22;
    -fx-background-size: 18;
    -fx-pref-height: 22;
    -fx-pref-width: 22;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.search-label {
    -fx-background-color: transparent;
    -fx-background-image: url("img/search.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-background-size: 18;
    -fx-pref-height: 26;
    -fx-pref-width: 26;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.visible-button {
    -fx-background-color: transparent;
    -fx-background-image: url("img/visible/visible.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-background-size: 18;
    -fx-pref-height: 26;
    -fx-pref-width: 26;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.visible-button:pressed {
    -fx-background-color: transparent;
    -fx-background-image: url("img/visible/visible-off.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-background-size: 18;
    -fx-pref-height: 26;
    -fx-pref-width: 26;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

/* ====================== background color ======================*/

.primary-background {
    -fx-background-color: #2C6DD2;
}

.light-background {
    -fx-background-color: #E8EFF3;
}

.white-background {
    -fx-background-color: #FFF;
}

/*   ==================================  List view ==================================*/
.list-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: white;
    -fx-table-cell-border-size: 0;
    -fx-table-header-border-color: white;
    -fx-table-header-border-size: 0;
    -fx-padding: 0 0 0 0;
    -fx-border-color: #FFF;
    -fx-selection-bar: transparent;
    -fx-selection-bar-non-focused: transparent;
}

.list-cell {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0;
    -fx-padding: 0 3 0 10;
    -fx-cell-size: 36;
    -fx-text-fill: #000;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused {
    -fx-background-color: #F4F8FB;
    -fx-text-fill: #2C6DD2;
    -fx-border-color: #F4F8FB;
    /*-fx-border-radius: 10;*/
    /*-fx-background-radius: 10;*/
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused > .label {
    -fx-text-fill: #2C6DD2;
    -fx-font-weight: bold;
}


.list-view .virtual-flow .clipped-container .sheet .list-cell:filled {
    -fx-fill: #000;
    -fx-text-fill: #000;
}

.list-view .virtual-flow .clipped-container .sheet .list-cell:filled .text {
    -fx-fill: #000;
    -fx-text-fill: #000;
}

.list-view .virtual-flow .clipped-container .sheet .list-cell:focused:filled {
    -fx-fill: #2C6DD2;
    -fx-text-fill: #2C6DD2;
}

.list-view .virtual-flow .clipped-container .sheet .list-cell:focused:filled .text {
    -fx-fill: #2C6DD2;
    -fx-text-fill: #2C6DD2;
}


/*   ==================================  Tree view ==================================*/
.tree-view {
    -fx-background-color: transparent;
    -fx-text-fill: #000;
}

.tree-view:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.tree-view:disabled {
    -fx-background-color: transparent;
}

.tree-cell {
    -fx-text-fill: #000;
}

.tree-view:focused .tree-cell:selected {
    -fx-background-color: #6093e7;
    -fx-text-fill: #FFF;
    -fx-border-width: 0 0 0 0;
}

.tree-cell:filled:selected {
    -fx-background-color: #E0E0E0;
    -fx-border-width: 0 0 0 0;
}

/*   ==================================  split pane ==================================*/

.split-pane-divider {
    -fx-padding: 0 2 0 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.split-pane-divider:hover {
    -fx-padding: 0 5 0 0;
    -fx-background-color: #f1f2f6;
}

.split-pane-divider:pressed {
    -fx-padding: 0 5 0 0;
    -fx-background-color: #f1f2f6;
}

.scroll-bar {
    -fx-background-color: #FFF;
    -fx-pref-width: 4;
    -fx-min-width: 4;
    -fx-max-width: 4;
    -fx-min-hight: 2px;
    -fx-pref-hight: 2px;
    -fx-max-hight: 2px;
    -fx-block-increment: 1;
}

.scroll-bar:vertical {
    -fx-pref-width: 7;
    -fx-padding: 1;
}

.scroll-bar:horizontal {
    -fx-pref-height: 7;
    -fx-padding: 1;
}

.scroll-bar .track {
    -fx-background-color: transparent;
    visibility: false;
}

*.scroll-bar > *.track-background {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    visibility: false;
}

*.scroll-bar > *.thumb {
    -fx-background-color: #DDD;
    -fx-background-insets: 0;
    -fx-min-width: 3;
    -fx-pref-width: 3;
    -fx-max-width: 3;
    -fx-min-hight: 2px;
    -fx-pref-hight: 2px;
    -fx-max-hight: 2px;
    -fx-padding: 0;
}

*.virtual-flow > *.corner {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    visibility: false;
    -fx-max-width: 5;
    -fx-max-height: 5;
}

.scroll-bar > *.increment-button,
.scroll-bar > *.increment-button > *.increment-arrow {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    visibility: false;
    -fx-max-width: 5;
    -fx-max-height: 5;
}

.scroll-bar > *.decrement-button,
.scroll-bar > *.decrement-button > *.decrement-arrow {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    visibility: false;
}

/* ========================== custom  =================================*/
.vTextArea {
    -fx-border-color: #a0a0a0;
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-border-width: 1 1 1 1;
    /*-fx-effect: dropshadow(three-pass-box, #8e8e8e, 10, 0.3, 2.2, 2.2);*/
}

.vTextArea .content {
    -fx-background-color: #fff;
}

.vTextArea:focused .content {
    -fx-background-color: #fff;
}

.prettyZoo {
    -fx-background-color: #FFF;
    -fx-text-fill: #3F51B5;
    -fx-border-color: #FFF;
    -fx-border-width: 0 0 0 0;
    -fx-background-image: url("img/prettyzoo-logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/* V3.0 */

.node-info-field {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-background-color: transparent;
    -fx-text-fill: #3F51B5;
    -fx-pref-width: 200px;
}

.node-info-pane {
    -fx-background-color: transparent;
}

.v-button {
    -fx-background-color: #FFF;
    -fx-border-color: #DDD;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-min-height: 18;
}

.v-button:hover {
    -fx-background-color: #EEE;
    -fx-border-color: #DDD;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-min-height: 18;
}

.v-button:hover:pressed {
    -fx-background-color: #E2E2E2;
    -fx-border-color: #DDD;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-min-height: 18;
}


.v-line-textField {
    -fx-border-color: transparent transparent #a0a0a0 transparent;
    -fx-min-width: 30px;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-padding: 1;
    -fx-text-fill: #000;
}

.new-version {
    -fx-background-color: transparent;
    -fx-background-image: url("img/new.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 30;
    -fx-pref-height: 28;
    -fx-pref-width: 40;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.tab-header-background {
    -fx-background-color: #FFF;
    -fx-border-color: #DEDEDE;
    -fx-border-width: 0 0 1 0;
}

.tab {
    -fx-background-color: #FFF;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: #000;
    -fx-border-width: 0;
}

.tab:selected {
    -fx-border-color: #3F51B5;
    -fx-border-width: 0 0 2 0;
}

.tab:hover {
    -fx-background-color: #EEE;
}

.tab:selected .tab-label {
    -fx-text-fill: #3F51B5;
}

.tab-pane:selected {
    -fx-border-width: 0;
}

.tab-container {
    -fx-border-width: 0;
}

.tab-container:selected {
    -fx-border-width: 0;
}

.tab-container .focus-indicator {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.terminal-area {
    -fx-background-color: #1c1f20;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-opacity: 0.85;
    -fx-text-fill: #FFF;
}

.terminal-area .content {
    -fx-background-color: #1c1f20;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.terminal-area:focused .content {
    -fx-background-color: #1c1f20;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.terminal-input {
    -fx-background-color: #1c1f20;
    -fx-background-insets: 0;
    -fx-opacity: 0.95;
    -fx-text-fill: #FFF;
    -fx-border-color: #FFF;
    -fx-border-width: 2 0 0 0;
}

.button-group {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #8d8d8d;
    -fx-padding: 0 15 0 10;
    -fx-spacing: 0;
    -fx-fill-height: true;
    -fx-pref-width: -1;
    -fx-min-width: 200;
}

.button-group .button {
    -fx-background-color: #FFF;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #EEE;
}

.button-group .button:hover {
    -fx-background-color: #EEE;
}

.data-save-button {
    -fx-background-color: transparent;
    -fx-background-image: url("img/update.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20;
    -fx-pref-height: 20;
    -fx-pref-width: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.data-save-button:hover {
    -fx-background-color: #DDD;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.data-save-button .tooltip {
    -fx-font-size: 10px;
    -fx-opacity: 0.9;
    -fx-text-alignment: center;
}

.data-menu-bar {
    -fx-background-color: #FFF;
    -fx-border-color: #a0a0a0;
    -fx-border-width: 1 1 0 1;
    -fx-background-radius: 0;
    -fx-padding: 6 10 6 10;
    -fx-border-radius: 6 6 0 0;
    -fx-spacing: 10;
}

.data-menu-bar:hover {
    -fx-border-color: #2C6DD2;
}

/** ======================== charset switch choice ========================*/
.choice-box {
    -fx-background-color: transparent;
    -fx-border-color: #8d8d8d;
    -fx-border-width: 0 0 0 0;
    -fx-pref-width: 80;
}

.choice-box:hover {
    -fx-background-color: #DDD;
}

.menu-bar {
    -fx-opacity: 0.8;
}

.main-menu-bar {
    -fx-background-color: #FFF;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #454444;
}

.menu-button {
    -fx-background-color: #FFF;
    -fx-min-height: 18;
    -fx-padding: 3px;
}

.menu-button:hover {
    -fx-background-color: #EEE;
    -fx-min-height: 18;
}

.menu-button:hover:pressed {
    -fx-background-color: #E2E2E2;
    -fx-min-height: 18;
}

/* xml data highlights */

.xml-tag-mark {
    -fx-fill: gray;
}

.xml-any-tag {
    -fx-fill: crimson;
}

.xml-paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.xml-attribute {
    -fx-fill: darkviolet;
}

.xml-value {
    -fx-fill: black;
}

.xml-comment {
    -fx-fill: teal;
}

/* json data highlights*/

.json-key {
    -fx-fill: #92278f;
}

.json-boolean-value {
    -fx-fill: #f98280;
}

.json-null-value {
    -fx-fill: #ff0000;
}

.json-number-value {
    -fx-fill: #25aae2;
}

.json-string-value {
    -fx-fill: #3ab54a;
}

/* properties highlights*/
.property-comment {
    -fx-fill: #949494;
}

.property-key {
    -fx-fill: #067eb0;
}

.property-value {
    -fx-fill: #25852e;
}

.jfx-check-box {
    -jfx-checked-color: #2C6DD2;
    -jfx-unchecked-color: #a0a0a0;
}

.jfx-snackbar-content {
    -fx-background-color: #212121;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}
