/* ====================== /Button ======================*/

.primary-button {
    -fx-background-color: #2C6DD2;
    -fx-text-fill: #FFF;
    -fx-effect: dropshadow(three-pass-box, #8e8e8e, 20, 0.1, 1, 1);
}

.primary-button:hover:pressed {
    -fx-background-color: #7986CB;
}

.primary-button:hover {
    -fx-background-color: #3F51B5;
}

.default-button {
    -fx-background-color: #9B9B9B;
    -fx-text-fill: #FFF;
    -fx-effect: dropshadow(three-pass-box, #E0E0E0, 20, 0.1, 1, 1);
}

.default-button:hover:pressed {
    -fx-background-color: #858383;
}

.default-button:hover {
    -fx-background-color: #686060;
}

.danger-button {
    -fx-background-color: #F50057;
    -fx-text-fill: #FFF;
    -fx-effect: dropshadow(three-pass-box, #E0E0E0, 20, 0.1, 1, 1);
}

.danger-button:hover:pressed {
    -fx-background-color: #FF4081;
}

.danger-button:hover {
    -fx-background-color: #C51162;
}

.circle-button {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-border-radius: 30;
    -fx-text-fill: #000;
    -fx-effect: dropshadow(three-pass-box, #E0E0E0, 20, 0.1, 1, 1);
}

.primary-circle-button {
    -fx-background-color: #2C6DD2;
    -fx-background-radius: 30;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-border-radius: 30;
    -fx-text-fill: #FFF;
    -fx-effect: dropshadow(three-pass-box, #E0E0E0, 20, 0.1, 1, 1);
}

.primary-circle-button:hover:pressed {
    -fx-background-color: #7986CB;
}

.primary-circle-button:hover {
    -fx-background-color: #3F51B5;
}

.danger-circle-button {
    -fx-background-color: #F50057;
    -fx-background-radius: 30;
    -fx-border-color: #F50057;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-border-radius: 30;
    -fx-text-fill: #FFF;
    -fx-effect: dropshadow(three-pass-box, #E0E0E0, 20, 0.1, 1, 1);
}

.danger-circle-button:hover {
    -fx-background-color: #C51162;
}

.danger-circle-button:hover:pressed {
    -fx-background-color: #FF4081;
}

/* ====================== /image Button ======================*/

.arrow-up-button {
    -fx-background-image: url("img/arrowUp.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20;
}

.remove-button {
    -fx-background-image: url("img/remove.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 28;
}

.remove-button:hover {
    -fx-background-image: url("img/remove-hover.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 28;
}

.refresh-button {
    -fx-background-color: transparent;
    -fx-background-image: url("img/refresh.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.refresh-button:hover {
    -fx-background-image: url("img/refresh-hover.png");
}

.add-button {
    -fx-background-color: transparent;
    -fx-background-image: url("img/add.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20;
    -fx-pref-height: 28;
    -fx-pref-width: 28;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}


.menu-bar {
    -fx-background-color: #FFF;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #000;
}

.menu-add-button {
    -fx-background-image: url("img/menu/add.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 35;
    -fx-pref-height: 35;
    -fx-pref-width: 35;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.menu-add-button:hover {
    -fx-background-color: transparent;
    -fx-background-image: url("img/menu/add-hover.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 35;
    -fx-pref-height: 35;
    -fx-pref-width: 35;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.menu-delete-button {
    -fx-background-color: transparent;
    -fx-background-image: url("img/menu/delete.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 25;
    -fx-pref-height: 30;
    -fx-pref-width: 35;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.menu-delete-button:hover {
    -fx-background-color: transparent;
    -fx-background-image: url("img/menu/delete-hover.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 25;
    -fx-pref-height: 30;
    -fx-pref-width: 35;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.menu-switch-button:selected:hover .box {
    -fx-padding: 5;
    -fx-background-size: 20;
    -fx-pref-height: 20;
    -fx-pref-width: 20;
    -fx-border-color: #EEE;
}

.menu-switch-button:selected:hover .box .mark {
    -fx-border-color: #EEE;
}

.menu-switch-button .box {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 5;
    -fx-background-size: 20;
    -fx-pref-height: 20;
    -fx-pref-width: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-border-color: #000;
    -fx-border-width: 2;
}

.menu-switch-button .box:hover {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20;
    -fx-pref-height: 20;
    -fx-pref-width: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-border-color: #EEE;
}

.disconnect-button:hover {
    -fx-background-image: url("img/disconnect-hover.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-border-radius: 25;
    -fx-background-size: 22;
    -fx-pref-height: 25;
    -fx-pref-width: 25;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.disconnect-button {
    -fx-background-color: transparent;
    -fx-background-image: url("img/disconnect.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-border-radius: 25;
    -fx-background-size: 22;
    -fx-pref-height: 25;
    -fx-pref-width: 25;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.import-button {
    -fx-background-image: url("img/menu/import.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 21;
    -fx-pref-height: 21;
    -fx-pref-width: 21;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.import-button:hover {
    -fx-background-color: transparent;
    -fx-background-image: url("img/menu/import-hover.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 21;
    -fx-pref-height: 21;
    -fx-pref-width: 21;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.export-button {
    -fx-background-image: url("img/menu/export.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 23;
    -fx-pref-height: 23;
    -fx-pref-width: 23;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.export-button:hover {
    -fx-background-color: transparent;
    -fx-background-image: url("img/menu/export-hover.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 23;
    -fx-pref-height: 23;
    -fx-pref-width: 23;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

/* ====================== Button/ ======================*/

.lineLabel {
    -fx-border-color: transparent transparent #3F51B5 transparent;
    -fx-min-width: 30px;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-padding: 1;
    -fx-text-fill: #3F51B5;
}

.infoLabel {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-min-width: 30px;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-padding: 1;
    -fx-text-fill: #3F51B5;
}

.line-textField {
    -fx-border-color: transparent transparent #2C6DD2 transparent;
    -fx-min-width: 30px;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-padding: 1;
    -fx-text-fill: #000;
}

/* ====================== background color ======================*/

.primary-background {
    -fx-background-color: #2C6DD2;
}

.light-background {
    -fx-background-color: #E8EFF3;
}

.white-background {
    -fx-background-color: #FFF;
}


/*   ==================================  Checkbox ==================================*/

.primary:selected .box .mark {
    -fx-background-color: #2C6DD2;
}

.primary .box {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-border-color: #2C6DD2;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-border-radius: 30;
}

.primary:hover .box {
    -fx-border-color: #3F51B5;
}


.warn .box {
    -fx-background-color: #FFF;
    -fx-background-radius: 30;
    -fx-border-color: #FBBD34;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-border-radius: 30;
}

.warn:hover .box {
    -fx-border-color: #000;
}

.warn:selected .box .mark {
    -fx-background-color: #FBBD34;
}

.warn:selected:hover .box {
    -fx-background-color: #FBBD34;
    -fx-border-color: #FFF;
}

.warn:selected:hover .box .mark {
    -fx-background-color: #FFF;
}

/*   ==================================  List view ==================================*/
.list-view {
    /*-fx-base: #1d1d1d;*/
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: white;
    -fx-table-cell-border-size: 0;
    -fx-table-header-border-color: white;
    -fx-table-header-border-size: 0;
    -fx-padding: 0 0 0 0;
    -fx-border-color: #FFF;
    -fx-selection-bar: transparent;
    -fx-selection-bar-non-focused: transparent;
}

.list-cell {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0;
    -fx-padding: 0 3 0 10;
    -fx-cell-size: 36;
    -fx-font-size: 14;
    -fx-text-fill: #000;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused {
    -fx-background-color: #F4F8FB;
    -fx-text-fill: #2C6DD2;
    -fx-border-color: #F4F8FB;
    /*-fx-border-radius: 10;*/
    /*-fx-background-radius: 10;*/
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused > .label {
    -fx-text-fill: #2C6DD2;
    -fx-font-weight: bold;
}

/*.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:hover {*/
/*    -fx-background-color: #303F9F;*/
/*    -fx-text-fill: #FFF;*/
/*}*/

/*.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:hover:pressed {*/
/*    -fx-background-color: #7986CB;*/
/*    -fx-text-fill: #FFF;*/
/*}*/

.list-view .list-cell:filled:selected {
    -fx-background-color: #F4F8FB;
}

.list-view .virtual-flow .clipped-container .sheet .list-cell:selected .text {
    -fx-fill: #2C6DD2;
}

/*   ==================================  Tree view ==================================*/
.tree-view {
    -fx-background-color: transparent;
    -fx-text-fill: #000;
}

.tree-view:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.tree-view:disabled {
    -fx-background-color: transparent;
}

.tree-cell {
    -fx-text-fill: #000;
}

.tree-view:focused .tree-cell:selected {
    -fx-background-color: #2C6DD2;
    -fx-text-fill: #FFF;
    -fx-border-width: 0 0 0 0;
}

.tree-cell:filled:selected {
    -fx-background-color: #E0E0E0;
    -fx-border-width: 0 0 0 0;
}

/*   ==================================  split pane ==================================*/

.split-pane-divider {
    -fx-padding: 0 2 0 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-bar {
    -fx-background-color: #FFF;
    -fx-pref-width: 4;
    -fx-min-width: 4;
    -fx-max-width: 4;
    -fx-min-hight: 2px;
    -fx-pref-hight: 2px;
    -fx-max-hight: 2px;
    -fx-block-increment: 1;
}

.scroll-bar:vertical {
    -fx-pref-width: 7;
    -fx-padding: 1;
}

.scroll-bar:horizontal {
    -fx-pref-height: 7;
    -fx-padding: 1;
}

.scroll-bar .track {
    -fx-background-color: transparent;
    visibility: false;
}

*.scroll-bar > *.track-background {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    visibility: false;
}

*.scroll-bar > *.thumb {
    -fx-background-color: #DDD;
    -fx-background-insets: 0;
    -fx-min-width: 3;
    -fx-pref-width: 3;
    -fx-max-width: 3;
    -fx-min-hight: 2px;
    -fx-pref-hight: 2px;
    -fx-max-hight: 2px;
    -fx-padding: 0;
}

*.virtual-flow > *.corner {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    visibility: false;
    -fx-max-width: 5;
    -fx-max-height: 5;
}

.scroll-bar > *.increment-button,
.scroll-bar > *.increment-button > *.increment-arrow {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    visibility: false;
    -fx-max-width: 5;
    -fx-max-height: 5;
}

.scroll-bar > *.decrement-button,
.scroll-bar > *.decrement-button > *.decrement-arrow {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    visibility: false;
}

/* ========================== custom  =================================*/
.vTextArea {
    -fx-border-color: #a0a0a0;
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-border-width: 1 1 1 1;
    /*-fx-effect: dropshadow(three-pass-box, #8e8e8e, 10, 0.3, 2.2, 2.2);*/
}

.vTextArea .content {
    -fx-background-color: #fff;
}

.vTextArea:focused .content {
    -fx-background-color: #fff;
}

.vTextField {
    -fx-border-color: #3F51B5;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
    -fx-font-size: 14;
}

.vTextField:focused {
    -fx-border-color: #7986CB;
    -fx-font-size: 16;
}

.server-field-no-line {
    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-font-size: 14;
}

.server-field-no-line:focused {
    -fx-font-size: 16;
    -fx-border-color: #000;
    -fx-border-width: 0 0 1 0;
}

.server-field-line {
    -fx-border-color: #000;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-font-size: 14;
}

.server-field-line:focused {
    -fx-border-color: #000;
    -fx-font-size: 16;
}

.server-ssh-switch {
    -fx-border-color: #000;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
}

.server-ssh-switch .box {
    -fx-background-color: transparent;
}

.server-ssh-switch:hover .box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.server-ssh-switch:selected .box .mark {
    -fx-background-color: #000;
    -fx-border-color: transparent;
}

.server-ssh-switch:selected:hover .box .mark {
    -fx-background-color: #000;
    -fx-border-color: transparent;
}

.vDialog {
    -fx-background-color: #fff;
    -fx-effect: dropshadow(gaussian, black, 10, 2, 3, 3);
}

.default-pane {
    -fx-background-color: #F4F8FB;
    -fx-border-width: 0;
}

.default-pane .split-pane-divider {
    /*visibility: false;*/
    -fx-background-color: transparent;
}

.default-pane .split-pane-divider .horizontal-grabber {
    /*visibility: false;*/
    -fx-background-color: transparent;
}

.left-pane {
    -fx-border-color: #F4F8FB, #F4F8FB;
    -fx-border-width: 0 0 0 0;
    /*-fx-effect: dropshadow(three-pass-box, #E7EAEE, 10, 0.3, 2.5, 2.2);*/
}

.mid-pane {

}

.mid-pane .head {
    -fx-background-color: #FFF;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-padding: 2 2 2 2;
    -fx-text-alignment: center;
    -fx-content-display: center;
    -fx-alignment: center-left;
    -fx-text-fill: #3F51B5;
}

.right-pane {
    -fx-border-color: #F4F8FB;
    -fx-border-width: 1;
}

.right-pane .path {
    -fx-background-color: #E8EFF3;
    /*-fx-background-color: #000;*/
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-padding: 2 2 2 2;
    -fx-text-alignment: center;
    -fx-content-display: center;
    -fx-alignment: center;
    -fx-text-fill: #000;
}

.right-pane .top {
    -fx-background-color: #FFF;
}


.prettyZoo {
    -fx-background-color: #FFF;
    -fx-text-fill: #3F51B5;
    -fx-border-color: #FFF;
    -fx-border-width: 0 0 0 0;
    -fx-background-image: url("img/prettyzoo-logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.prettyZoo-recursive {
    -fx-background-color: #FBBD34;
    -fx-background-image: url("img/prettyzoo-logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-effect: dropshadow(three-pass-box, #FFF, 1, 0.5, 1, 1);
}


/* V3.0 */

.node-info-field {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-background-color: transparent;
    -fx-text-fill: #3F51B5;
}

.node-info-pane {
    -fx-background-color: transparent;
}

.v-button {
    -fx-background-color: #FFF;
    -fx-border-color: #DDD;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-min-height: 18;
}

.v-button:hover {
    -fx-background-color: #EEE;
    -fx-border-color: #DDD;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-min-height: 18;
}

.v-button:hover:pressed {
    -fx-background-color: #E2E2E2;
    -fx-border-color: #DDD;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-min-height: 18;
}

.v-checkbox .box {
    -fx-background-color: #FFF;
    -fx-border-color: #a0a0a0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-min-height: 18;
}

.v-line-textField {
    -fx-border-color: transparent transparent #a0a0a0 transparent;
    -fx-min-width: 30px;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-padding: 1;
    -fx-text-fill: #000;
}


.add-button:hover {
    -fx-background-color: transparent;
    -fx-background-image: url("img/add-hover.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20;
    -fx-pref-height: 28;
    -fx-pref-width: 28;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.delete-button {
    -fx-background-color: transparent;
    -fx-background-image: url("img/delete.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20;
    -fx-pref-height: 28;
    -fx-pref-width: 28;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.delete-button:hover {
    -fx-background-color: transparent;
    -fx-background-image: url("img/delete-hover.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20;
    -fx-pref-height: 28;
    -fx-pref-width: 28;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.v-primary-background {
    -fx-background-color: transparent;
    -fx-border-color: #a0a0a0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}


.new-version {
    -fx-background-color: transparent;
    -fx-background-image: url("img/new.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 30;
    -fx-pref-height: 28;
    -fx-pref-width: 40;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
}

.tab-header-background {
    -fx-background-color: #FFF;
    -fx-border-color: #DEDEDE;
    -fx-border-width: 0 0 1 0;
}

.tab {
    -fx-background-color: #FFF;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: #000;
    -fx-border-width: 0;
}

.tab:selected {
    -fx-border-color: #3F51B5;
    -fx-border-width: 0 0 2 0;
}

.tab:hover {
    -fx-background-color: #EEE;
}

.tab:selected .tab-label {
    -fx-text-fill: #3F51B5;
}

.tab-pane:selected {
    -fx-border-width: 0;
}

.tab-container {
    -fx-border-width: 0;
}

.tab-container:selected {
    -fx-border-width: 0;
}

.tab-container .focus-indicator {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.terminal-area {
    -fx-background-color: #1c1f20;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-opacity: 0.85;
    -fx-text-fill: #FFF;
    -fx-font-size: 15px;
}

.terminal-area .content {
    -fx-background-color: #1c1f20;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.terminal-area:focused .content {
    -fx-background-color: #1c1f20;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.terminal-input {
    -fx-background-color: #1c1f20;
    -fx-background-insets: 0;
    -fx-opacity: 0.95;
    -fx-text-fill: #FFF;
    -fx-border-color: #FFF;
    -fx-border-width: 2 0 0 0;
}

.xmlButton {
    -fx-border-color: #DDD;
    -fx-background-color: #FFF;
}

.xmlButton:hover {
    -fx-background-color:#EEE;
}

.xmlButton:pressed {
    -fx-background-color: #b5b5b5;
}

.button-group {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #DDD;
    -fx-padding: 0 15 0 5;
    -fx-spacing: 0;
    -fx-fill-height: true;
}

.button-group .button {
    -fx-background-color: #FFF;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #EEE;
}

.button-group .button:hover {
    -fx-background-color: #EEE;
}