<?xml version="1.0" encoding="UTF-8"?>

<configuration status="info" monitorInterval="30">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5p] %l - %m%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="${sys:user.home}/.prettyZoo/log/prettyZoo.log"
                     filePattern="${sys:user.home}/.prettyZoo/prettyZoo.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5p] %l - %m%n"/>
            <policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="25 MB"/>
            </policies>
            <DefaultRolloverStrategy max="3">
                <Delete basePath="${sys:user.home}/.prettyZoo/log/" maxDepth="1">
                    <IfFileName glob="prettyZoo.*.log"/>
                </Delete>
                <!-- compatibility -->
                <Delete basePath="${sys:user.home}/.prettyZoo/" maxDepth="1">
                    <IfFileName glob="prettyZoo.*.log"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </appenders>

    <loggers>
        <logger name="cc.cc1234.main" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>